{% extends 'base.html' %}

{% block title %}
Categories List
{% endblock title %}

{% block content %}
<main>
    <h1>Categories List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for contents in category_list.all %}
            <tr>
                <td>{{ contents.name }}</td>
                <td>{{ contents.items.counts }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}