{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<main>
    <h1>My Receipts</h1>
    <table>
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
        </thead>
        <tbody>
            {% for content in home %}
            <tr>
                <td>{{ content.vendor }}</td>
                <td>{{ content.total }}</td>
                <td>{{ content.tax }}</td>
                <td>{{ content.date|date:'m/d/y' }}</td>
                <td>{{ content.category.name }}</td>
                <td>{{ content.account.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}